:root{
    --sidebar-colour: #1B3A4B;
    --header-colour : #312244;
    --background-colour: #065A60;

    --nav-item: #272640;
    --nav-item-hover: #2F2E4D;
    --nav-item-click: #464573;

    --timeline-line: #4D194D;
    --timeline-bubble-border: #ffa137;
    --timeline-bubble: white;
    --timeline-content: #272640;
    --timeline-text: #EEEEEE;
    --timeline-text-special: #AAAAAA; 
}