html body{
    overflow:hidden;
    background-color: var(--background-colour);
    padding: 0;
    margin: 0;
    user-select: none;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 13vw auto;
    grid-template-rows: 10vh auto;
    grid-template-areas: 
    's h'
    's b';
}

.logo{
    display: block;
    height: 10vh;
    width: 100%;
    align-content: center;
}

.nav{
    display: flex;
    flex-direction:column;
    height: 90vh;
    width: 100%;
}

.nav-item{
    height: 50px;
    margin-bottom: 5px;
    border-radius: 0 10px 10px 0;
    background-color: var(--nav-item);
}

.nav-item:hover{
    background-color: var(--nav-item-hover);
}

.nav-item:active{
    background-color: var(--nav-item-click);
}

.bottom{
    margin-top: auto; 
}

.nav-item-content{
    height: 100%;
    margin-left: 15px;
    padding-top: 15px;
    color:wheat;
    display: block;
    text-align: left;
    user-select: none;
}

.header{
    grid-area: h;
    background-color: var(--header-colour);
}

.sidebar{
    grid-area: s;
    background-color: var(--sidebar-colour);
}

.body{
    grid-area: b;
    display: flex;
}

.tab{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.card{
    display: grid;
    grid-template-rows: 30% 65% 5%;
    grid-template-areas: 'H' 'B' 'F';
    height: 400px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: wheat;
}

.card:active{
    background-color: whitesmoke;
}

.card-header{
    grid-area: H;
    display: block;
    padding-top: 10px;
    border-radius: 10px 10px 0 0;
    background-color: whitesmoke;
}

.card-title{
    display: block;
    width: 100%;
    text-align: center;
}

.card-body{
    grid-area: B;
    display: block;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-footer{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
}