html,
body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #e6e6e6;
  color: #322e3b;
}

.sign-off {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: smaller;
}

.counter-progress {
  width: 150px;
}

.progress {
  background-color: inherit;
  font-size: 1rem;
  height: 1.5rem;
}

.popover-header {
  color: #322e3b;
}

#Grid {
  display: grid;
  grid-template-columns: 10vw auto auto auto 10vw;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    "left top top top right"
    "left mid mid mid right"
    "left bot bot bot right";
  width: 100vw;
  height: 100vh;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
  outline: none;
}

#Grid > div {
  border: 1px solid rgba(0, 0, 0, 0.062);
}

#Top {
  position: relative;
  grid-area: top;
}
#Left {
  grid-area: left;
}
#Middle {
  grid-area: mid;
  display: grid;
  grid-template-areas: "e";
}

#Right {
  grid-area: right;
}
#Bottom {
  grid-area: bot;
}

/* Header Styles */

#GameTabs {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#SettingsButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.header {
  font-family: "Bree Serif", serif;
  color: #322e3b;
  text-align: center;
}

/* Element Styling */

#ElementContainer {
  grid-area: e;
}

.hidden {
  visibility: hidden;
  border: none;
}

.element-table {
  width: 100%;
  height: 100%;
}

.element-cell {
  width: 5%;
  height: 10%;
  text-align: left;
  border: 2px solid rgba(0, 0, 0, 0.432);

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.element-cell > div {
  position: relative;
  height: 100%;
}

.element-cell > div > span {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.none {
  border: none;
}

.metal {
  background-color: #437fff;
  color: black;
}

.semi-conductor {
  background-color: #e252ff;
  color: black;
}

.non-metal {
  background-color: #00ff62;
  color: black;
}

.inert-gas {
  background-color: #efff5b;
  color: black;
}

.lanthanide-or-actinides {
  background-color: #3ef9ff;
  color: black;
}

/* Chemistry Styles */

#ChemistryLab {
  display: none;
  grid-template-areas: "machines s s";
}

#Machines {
  grid-area: machines;
}

.machine {
  position: relative;
  display: block;
  background-color: #98c1ff;
  border: 1px solid #526367;
  border-radius: 5px;
  width: 300px;
  height: 104px;
  margin: 5px;

  font-size: 14px;
}

.machine-title {
  top: 5px;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: center;

  text-decoration-line: underline;
  text-transform: uppercase;
}

.unlock-btn {
  display: block;
  position: relative;
  background: #8cb5c2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 280px;
  height: 66px;
  margin: 10px;
}

.unlock-btn:hover {
  background-color: #688791;
  outline: none;
}

.machine-remove {
  position: relative;
  display: none;
  float: left;
  top: 10px;
  width: 103px;
  height: 62px;
  padding: 0px;
  margin: 0px;
}

.machine-add {
  position: relative;
  display: none;
  float: left;
  top: 10px;
  left: 0px;
  width: 103px;
  height: 62px;
  padding: 0px;
  margin: 0px;
}

.machine-count {
  position: relative;
  display: none;
  float: left;
  text-align: center;
  width: 90px;
  padding: 10px;
  margin-top: 15px;
}

.remove {
  user-select: none;
  position: relative;
  display: flex;
  background: #ffa8a8;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 2px;
}

.remove:hover {
  background: #cf8888;
}

.add {
  user-select: none;
  position: relative;
  display: flex;
  background: #dfffcc;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 2px;
}

.add:hover {
  background: #b3cea4;
}

.small {
  float: right;
  height: 40px;
  width: 29px;
}

.small > span {
  width: 100%;
  text-align: center;
  padding-top: 8px;
}

.large {
  height: 20px;
  width: 95px;
}

.large > span {
  width: 100%;
  text-align: center;
}

.remove-max {
  margin-left: 4px;
}

.add-max {
  margin-left: 4px;
}

/* The Field Styles */

#TheField {
  display: none;
}

.unlock {
  background-color: #9dbcff;
  border: 1px solid rgb(68, 68, 255);
}

.drill-svg {
  width: 50px;
}

/* Market Place Styles */

#MarketPlace {
  display: none;
  grid-template-areas:
    "s s i b b"
    "s s i b b"
    ". . . . .";
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.market-sell {
  width: 100%;
  grid-area: s;
  margin: 5px;
}

.market-buy {
  width: 100%;
  grid-area: b;
  margin: 5px;
}

.market-information {
  width: 100%;
  grid-area: i;
  margin: 5px;
  text-align: center;
}

.market-element {
  width: 100%;
}

#Money {
  text-align: center;
}

/* Settings Styles */

#Settings {
  display: none;
  grid-template-areas:
    "s s ."
    "s s ."
    ". . .";
}

.settings-group {
  grid-area: s;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #322e3b27;
  border-radius: 5px;
}

.setting-button {
  margin-left: 10px;
  margin-top: 10px;
  width: 45%;
  color: #322e3b;
}

.setting-button > button {
  width: 25%;
}

.setting-textinput {
  width: 100%;
  margin-top: 5px;
  resize: none;
  font-size: large;
}

/* Bootstrap fixes */

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
