html,
body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #e6e6e6;
  color: aliceblue;
}

.counter-progress {
  width: 150px;
}

.progress {
  background-color: inherit;
  font-size: 1rem;
  height: 1.5rem;
}

.popover-header {
  color: #322e3b;
}

#Grid {
  display: grid;
  grid-template-columns: 10vw auto auto auto 10vw;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    "left top top top right"
    "left mid mid mid right"
    "left bot bot bot right";
  width: 100vw;
  height: 100vh;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
  outline: none;
}

#Grid > div {
  border: 1px solid rgba(0, 0, 0, 0.062);
}

#Top {
  position: relative;
  grid-area: top;
}
#Left {
  grid-area: left;
}
#Middle {
  grid-area: mid;
  display: grid;
  grid-template-areas: "e";
}

#Right {
  grid-area: right;
}
#Bottom {
  grid-area: bot;
}

/* Header Styles */

#GameTabs {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#SettingsButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.header {
  font-family: "Bree Serif", serif;
  color: #322e3b;
  text-align: center;
}

/* Element Styling */

#ElementContainer {
  grid-area: e;
}

.hidden {
  visibility: hidden;
  border: none;
}

.element-table {
  width: 100%;
  height: 100%;
}

.element-cell {
  width: 5%;
  height: 10%;
  text-align: left;
  border: 2px solid rgba(0, 0, 0, 0.432);

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.element-cell > div {
  position: relative;
  height: 100%;
}

.element-cell > div > span {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.none {
  border: none;
}

.metal {
  background-color: #437fff;
  color: black;
}

.semi-conductor {
  background-color: #e252ff;
  color: black;
}

.non-metal {
  background-color: #00ff62;
  color: black;
}

.inert-gas {
  background-color: #efff5b;
  color: black;
}

.lanthanide-or-actinides {
  background-color: #3ef9ff;
  color: black;
}

/* Chemistry Styles */

#ChemistryLab {
  display: none;
}

/* The Field Styles */

#TheField {
  display: none;
}

/* Settings Styles */

#Settings {
  display: none;
  grid-template-areas:
    "s s ."
    "s s ."
    ". . .";
}

.settings-group {
  grid-area: s;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #322e3b27;
  border-radius: 5px;
}

.setting-button {
  margin-left: 10px;
  margin-top: 10px;
  width: 45%;
  color: #322e3b;
}

.setting-button > button {
  width: 25%;
}

.setting-textinput {
  width: 100%;
  margin-top: 5px;
  resize: none;
  font-size: large;
}

/* Bootstrap fixes */

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
