html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.dropdown-item {
    cursor: pointer;
}

.container {
    flex: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.main{
    flex:1;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70vw;
    background: #181818;
    border-radius: 0.5%;
}

.pkmn-image{
    image-rendering: pixelated;
    height: 50px;
}